<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <% include partials/header %>
    <main class="container" style="text-align: center;">
    <h1 style="color: var(--brand); font-size: 2rem;">404 - Page Not Found</h1>
      <p>Sorry, the page you're looking for doesn't exist.</p>
      <a href="/" class="btn">Go Back Home</a>
    </main>
    <% include partials/footer %>
  </body>
</html>