<!DOCTYPE html>
<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="container">
      <h1>About Us</h1>
      <p>We are a team of professionals dedicated to helping businesses grow with future-proof solutions. Our mission is to deliver high-quality services that stand the test of time.</p>
    </main>
    <% include ../partials/footer %>
  </body>
</html>